<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title='개발자의 놀이터')">
</head>
<body class="play-ground">
<div th:replace="fragments/header :: header"></div>

<div class="ui container u-margin-vertical-large u-padding-horizontal-medium">
  <div class="ui main text container u-margin-bottom-large">
  </div>

  <div class="ui segment">
  </div>

  <!-- footer -->
  <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
<script th:inline="javascript">
  $(document).ready(function () {
    // 드롭다운 초기화
    $('.ui.dropdown').dropdown();
  });

</script>
</html>