<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>

<body class="subject-page">

<div th:replace="fragments/header :: header"></div>
<div class="ui content u-margin-vertical-large u-padding-horizontal-medium">
  <!-- 페이지 제목 -->
  <div class="ui main text container u-margin-bottom-large">
    <h1 class="ui header">교과목 관리</h1>
  </div>

  <!-- 교과목 필터링 -->
  <div class="form-container ui segment">
    <form id="searchForm" class="ui form">

      <!-- 교과목 검색 -->
      <div class="field">
        <label>교과목명</label>
        <input type="text" id="subject" name="subject" placeholder="교과목명 검색" autocomplete="off">
        <div class="ui list" id="autocompleteList"></div>
      </div>

      <div class="field">
        <div class="two fields">
          <div class="field">
            <label>연도</label>
            <select class="ui dropdown" name="year">
              <option value="">--연도를 선택하세요--</option>
              <option value="2024">2024</option>
            </select>
          </div>
          <div class="field">
            <label>학기</label>
            <select class="ui dropdown" name="semester">
              <option value="">--학기를 선택하세요--</option>
              <option value="1">1학기</option>
              <option value="2">2학기</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label>단과대</label>
        <select class="ui dropdown" name="faculty">
          <option value="">--단과대를 선택하세요--</option>
          <!-- DB에서 불러온 faculties 목록을 순회하며 옵션을 생성-->
          <option th:each="faculty : ${faculties}"
                  th:value="${faculty.name}"
                  th:text="${faculty.name}">
          </option>
        </select>
      </div>

      <div class="three fields">
        <div class="field">
          <button class="ui primary button" type="submit">
            <i class="search icon"></i>검색
          </button>
        </div>
        <div class="field">
          <button class="ui button" id="resetFilterButton" type="button">
            <i class="undo icon"></i>필터 초기화
          </button>
        </div>
        <div class="field">
          <button class="ui button" id="resetSortButton" type="button">
            <i class="undo icon"></i>정렬 초기화
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Tabulator 테이블 -->
  <div class="table-container">
    <div id="totalCount" class="ui left aligned header">총 조회 수: 0건</div>
    <div id="subject-table"></div>
  </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>

<script type="text/javascript">

  $(document).ready(function () {
    // 검색 입력 이벤트 등록
    $('#subject').on('input', function () {
      const keyword = $(this).val().trim();

      // 글자가 1개 이상일 때만 api 요청
      if (keyword.length > 0) {
        $.ajax({
          url: '/admin/subject/autocomplete',
          method: 'POST',
          headers: {
            "Authorization": "Bearer " + localStorage.getItem("accessToken")
          },
          data: {subject: keyword},
          success: function (data) {
            renderAutocompleteList(data);
          },
          error: function (error) {
            console.error('Subject AutoComplete Error:', error);
          }
        });
      } else {
        // 입력이 없는 경우
        $('#autocompleteList').empty().hide();
      }
    });

    // 추천 검색어 목록을 클릭하면 해당 값을 input에 채우고, 목록 숨김
    $(document).on('click', '#autocompleteList a.item', function () {
      const text = $(this).text().trim();
      $('#subject').val(text);
      $('#autocompleteList').empty().hide();
    });
  });

  // 자동완성 리스트 랜더링
  function renderAutocompleteList(data) {
    const list = $('#autocompleteList');

    // 리스트 초기화
    list.empty();

    const items = data.subjects || [];

    // 데이터가 없으면 숨기기
    if (items.length === 0) {
      list.hide();
      return;
    }

    // 자동완성 항목 생성
    items.forEach(item => {
      const listItem = `
      <a class="item">
        <i class="search icon"></i>
        ${item}
      </a>
      `;
      list.append(listItem);
    });

    list.show();
  }

  let subjectTable = new Tabulator();

  // DOMContentLoaded Event
  document.addEventListener("DOMContentLoaded", function () {

    // 데이터 초기화
    initData();

    // 이벤트 처리
    eventHandler(subjectTable);
  });

  // 데이터 초기화
  function initData() {
    subjectTable = initSubjectTable();
  }

  // 이벤트 핸들러
  function eventHandler(table) {
    const form = document.getElementById("searchForm");

    // 검색 버튼 이벤트
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      table.setData(); // 테이블 데이터 새로 로드
    });

    // 폼 필터 초기화 버튼 이벤트
    $('#resetFilterButton').on("click", function () {
      form.reset();
      table.setData();
    });

    // 정렬 초기화
    $('#resetSortButton').on("click", function () {
      table.clearSort();
    });
  }

  // Table 초기화
  function initSubjectTable() {

    var table = new Tabulator("#subject-table", {
      layout: "fitDataTable",
      columns: [
        {title: "단과대학", field: "faculty", width: 200},
        {title: "학과", field: "department", width: 300},
        {title: "과목명", field: "subject", width: 200},
        {title: "개설학기", field: "semester", width: 100},
        {title: "연도", field: "year", width: 100},
        {
          title: "관리", width: 160, formatter: function (cell) {
            const data = cell.getRow().getData();
            return `
          <div class="ui two mini buttons">
            <button class="ui blue button">수정</button>
            <button class="ui red button">삭제</button>
          </div>
          `;
          }
        }
      ],

      ajaxURL: "/admin/subject/filter",
      ajaxConfig: {
        method: "POST",
        headers: {
          "Authorization": "Bearer " + localStorage.getItem("accessToken"),
        }
      },
      ajaxRequestFunc: function (url, config, params) {
        const formData = new FormData($('#searchForm')[0]);

        formData.append("pageNumber", (params.page ? params.page - 1 : 0));
        formData.append("pageSize", params.size || 10);
        formData.append("sortField", params.sortField || "createdDate");
        formData.append("sortDirection", params.sortDirection || "desc");

        return fetch(url + "?accessToken=" + localStorage.getItem("accessToken"), {
          method: "POST",
          headers: config.headers,
          body: formData
        })
        .then(response => response.json())
      },
      ajaxResponse: function (url, params, response) {
        // 총 항목수 표시
        $('#totalCount').text(`총 조회 수: ${response.coursePage.totalElements || 0}건`);

        return {
          data: response.coursePage.content,
          last_page: response.coursePage.totalPages
        };
      },
      pagination: true,
      paginationMode: "remote",
      paginationSize: 100,
      paginationSizeSelector: [10, 30, 50, 100],
      height: "600px"
    });

    return table;
  }

</script>

</body>
</html>