### General ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Eclipse ###
.project
.classpath
.csettings
.apt_generated
.factorypath
.settings/
bin/

### Maven ###
target/

### Logs ###
*.log

### Temporary Files ###
*.tmp
*.bak
*.swp
*~

### OS ###
.DS_Store
Thumbs.db

### Develop Application Yml ###
/src/main/resources/application-dev.yml
/src/main/resources/application-prod.yml
/src/main/resources/application-prod.yml.base64
/src/main/resources/application-prod.yml
/src/main/resources/yeopjeon.yml
/src/main/resources/score.yml
/src/main/resources/exp.yml
/src/main/resources/admin.yml
/src/main/resources/post-tier.yml

### Firebase Admin SDK
/src/main/resources/firebase-admin-sdk.json

### cicd
/.github/workflows
