<!-- src/main/resources/templates/fragments/footer.html -->
<div th:fragment="footer">
  <div class="ui vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Company</a>
            <a href="#" class="item">Team</a>
            <a href="#" class="item">Careers</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Web Design</a>
            <a href="#" class="item">Development</a>
            <a href="#" class="item">Hosting</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Additional information about the company can be placed here.</p>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/js/jquery.min.js}"></script>
</div>
