<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"><!-- 헤더 프래그먼트 포함 --></head>
<body>
</body>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // 로컬 스토리지에서 accessToken 가져오기
    const accessToken = localStorage.getItem('accessToken');
    console.log('현재 accessToken:', accessToken);

    if (!accessToken) {
      // accessToken이 없으면 로그인 페이지로 리다이렉트
      console.log('accessToken 없음. /login으로 리다이렉트.');
      window.location.href = '/login';
      return;
    } else {
      // accessToken이 있으면 관리자 대시보드로 리다이렉트
      console.log('accessToken 있음. /admin/dashboard로 리다이렉트.');
      window.location.href = '/admin/dashboard';
      return;
    }
  });
</script>
</html>
